<%-include("template/cabecera.ejs", {tituloWeb: 'Pagina de inicio'}) %>
<div class="container">
    <div class="abs-center">
    <div class="p-3 mb-2 bg-dark text-white">
<form class="border p-3 form" action="./guardar" id="formulario" name="formulario" method="post">
    <label for="usuario">Usuario</label>
    <br>
    <input  type="text" id="NombreUsuario" name="NombreUsuario">
    <br>
    <label for="contrasena">Contraseña</label>
    <br>
    <input  type="text" id="ContrasenaUsuario" name="contrasenaUsuario">
    <br>
    <label for="perfilusuario">Perfil Usuario</label>
    <br>
    <input type="text" id="PerfilUsuario" name="PerfilUsuario">
    <br>
    <label for="telefonousuario">Telefono Usuario</label>
    <br>
    <input type="text" id="TelefonoUsuario" name="TelefonoUsuario">
    <br>
    <label for="correousuario">Correo Usuario</label>
    <br>
    <input type="text" id="CorreoUsuario" name="CorreoUsuario">
    <br>
    <label for="paisusuario">Pais Usuario</label>
    <br>
    <input type="text" id="PaisUsuario" name="PaisUsuario">
    <br>
    <br>
    <input type="submit" id="enviar" value="Guardar registros" class="btn btn-outline-success">
</form>
</div>
</div>
</div>
<%-include("template/footer.ejs") %>